h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-shadow: rgb(125, 125, 125) 1px 0 10px;    
    text-align: center;
    margin: 2.5rem 0 2rem 0
}

.photo-gallery {
    display: flex;
    flex-direction: column;
}

.photo-gallery1, .photo-gallery2, .photo-gallery3 {
    display: flex;
    padding: 3%;
    background-color: #F2E3A2;
    align-items: center;
}

.photo-gallery1:hover, .photo-gallery2:hover, 
.photo-gallery3:hover {
    filter: brightness(85%);
    cursor: pointer;
}


.photo-gallery2 {
    flex-direction: row-reverse;
    background-color: #efe8cc;
    filter: opacity(88%)
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7vh;
    line-height: 2.5vh;
    padding: 3%;
}

span {
    font-weight: 900;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}