
.ListItem {
    border: solid olive;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.icon{
    color: black;
    cursor: pointer;
    margin-left: 1em;
}
.todaysEntry{
    border: solid black;
}