
.ListItem {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}


.listItem-container{
    width: 100vw;
    display: flex;
    flex-direction: column
}

.categories{
    border-bottom: solid black;
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    margin-bottom: 2em;
}


.icon{
    color: black;
    cursor: pointer;
}
.entry-btn{
    background-color: rgb(91, 192, 222);
    border: solid rgb(91, 192, 222);
    cursor: pointer;
    width: 5em;
    height: 2em;
    font-size: 1.5em;
    color: white;
    margin: 1.5em 0 1.5em 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nutrilog{
    
    display: flex;
    justify-content: center;
}
.nutrilog h1{
    font: "Segoe UI";
    font-weight:normal;
    font-size: 8em;
}

.btn-tainer{
    width: 15px;
    grid-area: btns;
}