nav{
  display: flex;
  justify-content: space-around;
  min-width: 100vw
}
.navbar-div {
    display: flex;
    justify-content: center;
    /* width: 20em; */
    height: 75px;
    /* overflow: hidden; */
    color:black;
    font-weight: 800;
    border-bottom: solid black;
    /* position: fixed;
    top: 15em; */
    background: transparent;
    backdrop-filter: blur(10px);
    width:fit-content;
    
  }
.navbar-div ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 6em;
}
  .navbar-item a {
    color: black;
    font-size: 2rem;
    margin: 2em;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;

  }

  .navbar-item a:hover {
    color:  rgb(91, 192, 222);
  }
  .navbar-item a:after {
    color: rgb(91, 192, 222);
    text-decoration: solid;
  }

  #Home{
    color: rgb(91, 192, 222);
    font-size: 2rem;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
    transition: color 0.3s ease-out;
  }

  #Today{
    color: rgb(91, 192, 222);
    font-size: 2rem;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
    transition: color 0.3s ease-out;
  }

  #History{
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin-right: 5em;
  }

  
