.navbar-div {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75px;
    overflow: hidden;
    color:black;
    font-weight: 800;
    border-bottom: solid black;
    position: fixed;
    top: 15em;
    background: transparent;
    backdrop-filter: blur(10px);
  }
.navbar-div ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
  .navbar-item a {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin-right: 5em;
  }
  .navbar-item a:hover {
    color:  white;
  }